function JuegoNave.new 0
push constant 15
call Memory.alloc 1
pop pointer 0
call Nave.new 0
pop this 0
push this 0
push constant 0
not
call Nave.setPlayer 2
pop temp 0
call Nave.new 0
pop this 1
push this 1
push constant 0
call Nave.setPlayer 2
pop temp 0
push constant 25
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 1
neg
pop this 6
push constant 1
neg
pop this 7
push constant 11
pop this 8
push constant 11
pop this 9
push constant 50
pop this 13
push constant 10
pop this 14
push pointer 0
call JuegoNave.generateAliens 1
pop temp 0
push pointer 0
return
function JuegoNave.generateAliens 3
push argument 0
pop pointer 0
push constant 100
pop local 0
push constant 20
pop local 1
push constant 0
pop local 2
call LinkedList.new 0
pop this 10
label WHILE_EXP0
push local 2
push this 2
lt
not
if-goto WHILE_END0
push this 10
push local 0
push local 1
push local 2
call Alien.new 3
call LinkedList.add 2
pop temp 0
push local 0
push constant 57
add
pop local 0
push local 2
push constant 1
add
pop local 2
push local 2
push constant 5
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 25
add
pop local 1
push constant 100
pop local 0
label IF_FALSE0
push local 2
push constant 10
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 1
push constant 25
add
pop local 1
push constant 100
pop local 0
label IF_FALSE1
push local 2
push constant 15
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 1
push constant 25
add
pop local 1
push constant 100
pop local 0
label IF_FALSE2
push local 2
push constant 20
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 1
push constant 25
add
pop local 1
push constant 100
pop local 0
label IF_FALSE3
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function JuegoNave.dispose 0
push argument 0
pop pointer 0
push this 0
call Nave.dispose 1
pop temp 0
push this 1
call Nave.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function JuegoNave.shootPathPlayer1 0
push argument 0
pop pointer 0
push argument 1
call Shoot.getY 1
push constant 11
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 3
push argument 1
call Shoot.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
return
function JuegoNave.shootPathPlayer2 0
push argument 0
pop pointer 0
push argument 1
call Shoot.getY 1
push constant 11
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop this 4
push argument 1
call Shoot.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
return
function JuegoNave.shootPathAlien 0
push argument 0
pop pointer 0
push argument 1
call Shoot.getY 1
push constant 240
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
push constant 2
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 10
push this 11
call LinkedList.getNextAlien 2
pop this 11
label IF_FALSE1
push constant 0
pop this 5
push argument 1
call Shoot.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
return
function JuegoNave.playerWin 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 21
call String.new 1
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 6
call Output.printInt 1
pop temp 0
push constant 11
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 21
call String.new 1
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
push constant 20
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 33
call String.new 1
push constant 77
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 122
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function JuegoNave.playerLoose 0
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 26
call String.new 1
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 89
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 46
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 10
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 21
call String.new 1
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 6
call Output.printInt 1
pop temp 0
push constant 11
push constant 20
call Output.moveCursor 2
pop temp 0
push constant 21
call String.new 1
push constant 45
call String.appendChar 2
push constant 45
call String.appendChar 2
push constant 62
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 112
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
push constant 20
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 34
call String.new 1
push constant 77
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 74
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 122
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 0
return
function JuegoNave.printPoints 0
push argument 0
pop pointer 0
push this 6
push constant 1
add
pop this 6
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 6
call Output.printInt 1
pop temp 0
push constant 1
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 17
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 80
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 7
call Output.printInt 1
pop temp 0
push constant 0
return
function JuegoNave.printLives 0
push argument 0
pop pointer 0
push this 8
push constant 1
sub
pop this 8
push this 8
push constant 10
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
push constant 50
call Output.moveCursor 2
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
push constant 51
call Output.moveCursor 2
pop temp 0
label IF_END0
push constant 21
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 8
call Output.printInt 1
pop temp 0
push constant 1
push constant 50
call Output.moveCursor 2
pop temp 0
push constant 21
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 118
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 115
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 9
call Output.printInt 1
pop temp 0
push constant 0
return
function JuegoNave.naveCollision 8
push argument 0
pop pointer 0
push this 0
call Nave.getX 1
pop local 0
push this 0
call Nave.getY 1
pop local 1
push this 1
call Nave.getX 1
pop local 2
push this 1
call Nave.getY 1
pop local 3
push argument 1
call Shoot.getX 1
pop local 4
push argument 1
call Shoot.getY 1
pop local 5
push constant 4
pop local 6
push this 5
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 4
push local 0
gt
push local 5
push local 1
gt
and
push local 4
push local 0
push this 13
add
lt
and
push local 5
push local 1
push this 14
add
lt
and
push local 4
push local 6
add
push local 0
gt
push local 5
push local 1
gt
and
push local 4
push local 6
add
push local 0
push this 13
add
lt
and
push local 5
push local 1
push this 14
add
lt
and
or
push local 4
push local 0
gt
push local 5
push local 6
add
push local 1
gt
and
push local 4
push local 0
push this 13
add
lt
and
push local 5
push local 6
add
push local 1
push this 14
add
lt
and
or
push local 4
push local 6
add
push local 0
gt
push local 5
push local 6
add
push local 1
gt
and
push local 4
push local 6
add
push local 0
push this 13
add
lt
and
push local 5
push local 6
add
push local 1
push this 14
add
lt
and
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
call Shoot.dispose 1
pop temp 0
push this 0
call Nave.draw 1
pop temp 0
push constant 0
pop this 5
push this 8
push constant 1
sub
pop this 8
push pointer 0
call JuegoNave.printLives 1
pop temp 0
label IF_FALSE1
push local 4
push local 2
gt
push local 5
push local 3
gt
and
push local 4
push local 2
push this 13
add
lt
and
push local 5
push local 3
push this 14
add
lt
and
push local 4
push local 6
add
push local 2
gt
push local 5
push local 3
gt
and
push local 4
push local 6
add
push local 2
push this 13
add
lt
and
push local 5
push local 3
push this 14
add
lt
and
or
push local 4
push local 2
gt
push local 5
push local 6
add
push local 3
gt
and
push local 4
push local 2
push this 13
add
lt
and
push local 5
push local 6
add
push local 3
push this 14
add
lt
and
or
push local 4
push local 6
add
push local 2
gt
push local 5
push local 6
add
push local 3
gt
and
push local 4
push local 6
add
push local 2
push this 13
add
lt
and
push local 5
push local 6
add
push local 3
push this 14
add
lt
and
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
call Shoot.dispose 1
pop temp 0
push this 1
call Nave.draw 1
pop temp 0
push constant 0
pop this 5
push this 9
push constant 1
sub
pop this 9
push pointer 0
call JuegoNave.printLives 1
pop temp 0
label IF_FALSE2
label IF_FALSE0
push constant 0
return
function JuegoNave.run 4
push argument 0
pop pointer 0
push constant 0
pop local 1
push this 10
call LinkedList.firstAlien 1
pop this 11
push pointer 0
call JuegoNave.printPoints 1
pop temp 0
push pointer 0
call JuegoNave.printLives 1
pop temp 0
label WHILE_EXP0
push local 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push local 0
push constant 0
eq
not
if-goto WHILE_END1
push this 3
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Nave.getShoot 1
pop local 2
push local 2
push constant 1
call Shoot.shoot 2
pop temp 0
push pointer 0
push local 2
call JuegoNave.shootPathPlayer1 2
pop temp 0
push this 10
push local 2
call LinkedList.shootColisionAlien 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
push constant 1
sub
pop this 2
push constant 0
pop this 3
push pointer 0
call JuegoNave.printPoints 1
pop temp 0
label IF_FALSE1
label IF_FALSE0
push this 4
push constant 1
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
call Nave.getShoot 1
pop local 3
push local 3
push constant 1
call Shoot.shoot 2
pop temp 0
push pointer 0
push local 3
call JuegoNave.shootPathPlayer2 2
pop temp 0
push this 10
push local 3
call LinkedList.shootColisionAlien 2
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
push constant 1
sub
pop this 2
push constant 0
pop this 4
push pointer 0
call JuegoNave.printPoints 1
pop temp 0
label IF_FALSE3
label IF_FALSE2
push this 2
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call JuegoNave.playerWin 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE4
push this 5
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
push constant 0
gt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 11
call Alien.createShoot 1
pop temp 0
push constant 1
pop this 5
label IF_FALSE6
label IF_FALSE5
push this 5
push constant 1
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 11
call Alien.getShoot 1
pop this 12
push this 12
push constant 2
call Shoot.shoot 2
pop temp 0
push pointer 0
push this 12
call JuegoNave.shootPathAlien 2
pop temp 0
push pointer 0
push this 12
call JuegoNave.naveCollision 2
pop temp 0
label IF_FALSE7
push this 8
push constant 0
eq
push this 9
or
push constant 0
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call JuegoNave.playerLoose 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE8
call Keyboard.keyPressed 0
pop local 0
push this 10
call LinkedList.moverAlien 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push this 8
push constant 0
eq
push this 9
or
push constant 0
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
call JuegoNave.playerLoose 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE9
push local 0
push constant 81
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 0
not
pop local 1
label IF_FALSE10
push this 8
push constant 0
eq
push this 9
or
push constant 0
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
call JuegoNave.playerLoose 1
pop temp 0
push constant 0
not
pop local 1
label IF_FALSE11
push this 3
push constant 0
eq
push local 0
push constant 32
eq
and
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 0
call Nave.createShoot 1
pop temp 0
push constant 1
pop this 3
label IF_FALSE12
push this 4
push constant 0
eq
push local 0
push constant 70
eq
and
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push this 1
call Nave.createShoot 1
pop temp 0
push constant 1
pop this 4
label IF_FALSE13
label WHILE_EXP2
push local 0
push constant 0
eq
not
not
if-goto WHILE_END2
call Keyboard.keyPressed 0
pop local 0
push this 10
call LinkedList.moverAlien 1
pop temp 0
push this 0
push local 0
call Nave.movement 2
pop temp 0
push this 1
push local 0
call Nave.movement 2
pop temp 0
push this 3
push constant 1
eq
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 0
call Nave.getShoot 1
pop local 2
push local 2
push constant 1
call Shoot.shoot 2
pop temp 0
push pointer 0
push local 2
call JuegoNave.shootPathPlayer1 2
pop temp 0
push this 10
push local 2
call LinkedList.shootColisionAlien 2
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push this 2
push constant 1
sub
pop this 2
push constant 0
pop this 3
push pointer 0
call JuegoNave.printPoints 1
pop temp 0
label IF_FALSE15
label IF_FALSE14
push this 4
push constant 1
eq
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push this 1
call Nave.getShoot 1
pop local 3
push local 3
push constant 1
call Shoot.shoot 2
pop temp 0
push pointer 0
push local 3
call JuegoNave.shootPathPlayer2 2
pop temp 0
push this 10
push local 3
call LinkedList.shootColisionAlien 2
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 2
push constant 1
sub
pop this 2
push constant 0
pop this 4
push pointer 0
call JuegoNave.printPoints 1
pop temp 0
label IF_FALSE17
label IF_FALSE16
push this 2
push constant 0
eq
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push pointer 0
call JuegoNave.playerWin 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE18
push this 5
push constant 0
eq
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push this 2
push constant 0
gt
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push this 11
call Alien.createShoot 1
pop temp 0
push constant 1
pop this 5
label IF_FALSE20
label IF_FALSE19
push this 5
push constant 1
eq
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push this 11
call Alien.getShoot 1
pop this 12
push this 12
push constant 2
call Shoot.shoot 2
pop temp 0
push pointer 0
push this 12
call JuegoNave.shootPathAlien 2
pop temp 0
push pointer 0
push this 12
call JuegoNave.naveCollision 2
pop temp 0
label IF_FALSE21
push this 8
push constant 0
eq
push this 9
or
push constant 0
eq
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push pointer 0
call JuegoNave.playerLoose 1
pop temp 0
push constant 200
call Sys.wait 1
pop temp 0
push constant 0
return
label IF_FALSE22
goto WHILE_EXP2
label WHILE_END2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
